.fall-class {
  -webkit-animation: fallLetter 1.75s linear forwards 1;
          animation: fallLetter 1.75s linear forwards 1;
}

.cta-btn {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  background: #ffd662;
  color: black;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 1rem;
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
}

.cta-btn:hover {
  background: #ffc216;
}

.main-header {
  background: #00539c;
  padding: 2rem 1rem;
  color: white;
  font-size: 1.5rem;
}

.main-header input {
  position: relative;
  margin-left: 2rem;
  width: 90%;
  background: #00539c;
  color: white;
  font-size: 2rem;
  border: none;
}

.main-header input:focus {
  outline: none;
}

.main-about {
  margin: 2rem;
}

.main-about h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-about h1 .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-about h1 .word .letter {
  cursor: pointer;
}

.main-about .about-info__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.main-about .about-info__section .info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.main-about .about-info__section .info-section p {
  text-align: center;
}

.main-about .about-info__section .info-section p a {
  text-decoration: none;
  font-weight: 700;
  color: #ffd662;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}

.main-about .about-info__section .info-section p a:hover {
  color: #e2a700;
}

.main-about .about-info__section .info-section img {
  max-width: 200px;
  height: auto;
  cursor: pointer;
}

.main-about .about-info__section #text-after-deform {
  display: none;
  text-align: center;
  max-width: 200px;
}

.projects-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0;
  width: 100%;
}

.projects-showcase h2 {
  text-align: center;
  font-size: 2rem;
}

.projects-showcase .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  list-style: none;
}

.projects-showcase .projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
  border-radius: .5rem;
  overflow: hidden;
}

.projects-showcase .projects .project .image-container {
  width: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
}

.projects-showcase .projects .project .image-container:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.projects-showcase .projects .project .image-container img {
  width: 100%;
  height: auto;
}

.projects-showcase .projects .project a {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1rem 0;
  background: #00539c;
  font-weight: 700;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
}

.projects-showcase .projects .project a:hover {
  background: #003d73;
}

@media (max-width: 300px) {
  html body main .main-about h1 {
    font-size: 1.5rem;
  }
  html body main .projects-showcase .projects .project {
    max-width: 175px;
  }
}

@media (min-width: 400px) {
  html body main .projects-showcase .projects .project {
    max-width: 350px;
  }
}

@media screen and (min-width: 600px) {
  html body main .main-about h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 800px) {
  html body main .main-about h1 {
    font-size: 3rem;
  }
  html body main .main-about .about-info__section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body main .main-about .about-info__section .info-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.5rem 0;
    gap: 6rem;
    max-width: 1000px;
  }
  html body main .main-about .about-info__section .info-section p {
    max-width: 400px;
  }
}

@media screen and (min-width: 900px) {
  html body main .projects-showcase .projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3%;
  }
  html body main .projects-showcase .projects .project {
    max-width: 250px;
  }
}

@media screen and (min-width: 1000px) {
  html body main .projects-showcase .projects .project {
    max-width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  html body main .projects-showcase .projects .project {
    max-width: 350px;
  }
}

@-webkit-keyframes blinking {
  50% {
    opacity: 0;
  }
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes letterJump {
  50% {
    -webkit-transform: translateY(-0.75rem);
            transform: translateY(-0.75rem);
  }
  95% {
    -webkit-transform: translateY(0.1rem);
            transform: translateY(0.1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes letterJump {
  50% {
    -webkit-transform: translateY(-0.75rem);
            transform: translateY(-0.75rem);
  }
  95% {
    -webkit-transform: translateY(0.1rem);
            transform: translateY(0.1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fallLetter {
  5% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  15% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  30% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  35% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  40% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  55% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}

@keyframes fallLetter {
  5% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  15% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  30% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  35% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  40% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  55% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}
/*# sourceMappingURL=index.css.map */